
    <footer class="footer">
        <div class="footer-container">
            <!-- Logo Section -->
            <div class="footer-section logo-section">
                <img src="images/logo.png" alt="Logo" class="logo-footer" />
                <p>
                    Bhuvi Consultants Leading Building Design & Construction based Company in Jharkhand.
                </p>
                <div class="social">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl" style="color: #1a7cc7;"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl" style="color: #e826a1;"></i></a>
                    <a href="https://wa.me/917019943376" target="_blank"><i class="fa-brands fa-whatsapp fa-xl" style="color: #63E6BE;"></i></a>
                    <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube fa-xl" style="color: #ec415a;"></i></a>
                    <!-- <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a> -->
                </div>
            </div>

            <!-- Contact Section -->
            <div class="footer-section contact">
                <h4>Contacts</h4>
                <div>
                    <span class="contact-icon"><i class="fa-solid fa-building fa-lg"></i></span>
                    <address>Sri Guru Kripa, near Kaju Bagan Road, Radha Nagar, Simliya, Hehal, Ranchi, Jharkhand 834005
                    </address>
                </div>
                <div>
                    <span class="contact-icon"><i class="fa-solid fa-phone fa-lg"></i></span>
                    +91 7019943376, +91 8986699600
                </div>
                <div>
                    <a href="mailto:info@bhuviconsultants.com" class="email">
                        <span class="contact-icon"><i class="fa-solid fa-envelope fa-lg"></i></span>
                        info@bhuviconsultants.com
                    </a>
                </div>
            </div>

            <!-- Business Hours Section -->
            <div class="footer-section">
                <h4>Business Hours</h4>
                <!-- Add business hours content here -->
            </div>

            <!-- Company Section -->
            <div class="footer-section">
                <h4>Company</h4>
                <ul class="info">
                    <li><a href="/about" class="info-link <%= activePage === 'about' ? 'active' : '' %>">About Us</a>
                    </li>
                    <li><a href="/" class="info-link <%= activePage === 'home' ? 'active' : '' %>">How We Work</a></li>
                    <li><a href="/project" class="info-link <%= activePage === 'project' ? 'active' : '' %>">Our
                            Projects</a></li>
                    <li><a href="/about/testimonial"
                            class="info-link <%= activePage === 'testimonial' ? 'active' : '' %>">Testimonial</a></li>
                    <li><a href="/blog" class="info-link <%= activePage === 'blog' ? 'active' : '' %>">Blogs</a></li>
                    <li><a href="/contact"
                            class="info-link <%= activePage === 'contact' ? 'active' : '' %>">Contacts</a></li>
                    <li><a href="/about/policy" class="info-link <%= activePage === 'policy' ? 'active' : '' %>">Privacy
                            Policy</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <p>Copyright © 2024 Bhuvi Consultants All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>